body {
    margin: 0;
    overflow: hidden;
    background: black;
    font-family: Arial;
}

#container {
    width: 100%;
    height: 100%;
}

#toggleBtn {
    position: absolute;
    background-color: white;
    border: none;
    top: 10px;
    left: 10px;
    z-index: 67;
}

#controls {
    position: absolute;
    top: 50px;
    left: 10px;
    z-index: 20;
    background-color: #000000B3;
    padding: 12px;
    color: white;
    border-radius: 6px;
    display: none;
}

.control {
    margin-bottom: 10px;
}

label {
    display: inline-block;
    width: 120px;
}

#reset {
    border: none;
}

#mode {
    color: white;
}